.header {
  margin: 0 auto;
  width: 100%;
  background:#80CED7;
  }

  body{
    padding: 0;
    margin: 0;
  }

  #heading{
    padding: .5%;
    margin-top: -.00001%;
    text-align: left;
    color: #2D232E;
    margin-left: .5%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.url{
  color: #2D232E;
  text-decoration: none;
  padding: 1%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#helloUser{
  margin: 1%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.registration_page{
  margin-left: 1%;
  font-family:Arial, Helvetica, sans-serif;
}

.error{
  color: red;
}

.button{
  margin: .25%;
  margin-top: -10%;
  margin-left: 1%;
  border-radius: 5px;
  background-color: blue;
  color: white;
  border-color: blue;
  font-size: 15px;
}

#quiz_label{
  margin-top: 1%;
  padding: 1%;
  font-family: sans-serif;
  width: 50%;
  font-size: 18px;
}

.quiz_field{
  margin-left: 8.5%;
  margin-top: -3%;
  width: 80%;
  height: 5%;
}

.individual_quizzes{
  margin: 1%;
  background-color: blanchedalmond;
  border: solid #3e4449 3px;
  border-radius: 8px;
}

.quiz_elements{
  margin: .5%;
  color: black;
  text-decoration: none;
  font-family: monospace;
}

a:link{
  text-decoration: none!important;
}

#user_url{
  color: #2D232E;
  text-decoration: none;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user_stats{
  margin-left: 1%;
  font-family: monospace;
  color: rgb(80, 80, 80);
}

.all_headings{
  margin-left: 1%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quiz_questions{
  margin-left: 1%;
  font-family: Arial, Helvetica, sans-serif;
}

.quiz_description{
  margin-left: 1%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(80, 80, 80);
}

#quiz_title{
  text-decoration: underline solid #80CED7 5px;
}

.correct{
  border: solid green 5px;
  border-radius: 8px;
  color: white;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 18px;
  background-color: green;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.incorrect{
  border: solid rgb(201, 2, 2) 5px;
  border-radius: 8px;
  color: white;
  background-color: rgb(201, 2, 2);
  margin-right: 1%;
  margin-left: 1%;
  text-align: center;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.score_style{
  text-align: center;
  margin-left: 1%;
  font-size: 20px;
  color: white;
  background-color: rgb(64, 0, 255);
  border: solid rgb(64, 0, 255) 5px;
  border-radius: 8px;
  margin-right: 1%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#intro_message{
  border: dotted navy 5px;
  background-color: #80CED7;
  border-radius: 8px;
  padding: .5%;
  margin-left: 1%;
  margin-right: 1%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-field{
  margin-left: 8.5%;
  margin-top: -3%;
  width: 80%;
}

#checkbox{
  position: absolute;
  margin-top: -2%;
  margin-left: 5%;
}

#help-text{
  margin-left: 6.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: -2.4%;
}

::placeholder {
  padding-left: .5%;
  padding-top: 1%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#note{
  border: dotted black 5px;
  border-radius: 8px;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: orangered;
  font-size: 20px;
}

#description{
  font-size: 20px;
  margin-left: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

#create-form{
  padding: 1%;
}

/* media queries */
@media(min-width: 1201px) and (max-width: 1500px){
  .quiz_field{
    margin-left: 12%;
  }

  .title-field{
    margin-left: 12%
  }

  #checkbox{
    margin-left: 8%;
  }

  #help-text{
    margin-left: 10%;
  }
}

@media(min-width: 1001px) and (max-width: 1200px){
  .quiz_field{
    margin-left: 12%;
  }

  .title-field{
    margin-left: 12%;
  }

  #checkbox{
    margin-left: 10%
  }

  #help-text{
    margin-left: 12%;
  }
}

@media(min-width: 750px) and (max-width: 1000px){
  .quiz_field{
    margin-left: 17%;
  }

  .title-field{
    margin-left: 17%;
  }

  #checkbox{
    margin-left: 10%;
  }

  #help-text{
    margin-left: 12%;
    margin-top: -3%;
  }
}

@media(min-width: 500px) and (max-width: 749px){
  .quiz_field{
    margin-left: 20%;
  }

  .title-field{
    margin-left: 20%;
  }

  #checkbox{
    margin-left: 15%;
    margin-top: -4%;
  }

  #help-text{
    margin-left: 20%;
    margin-top: -4.5%;
  }
}

@media(min-width: 0px) and (max-width: 499px){
  .quiz_field{
    display: block;
    margin-top: 5%;
  }

  .title-field{
    display: block;
    margin-top: 5%;
  }

  #checkbox{
    display: block;
    margin-top: 2%;
  }

  #help-text{
    display: block;
    margin-top: 5%;
  }

}